<section class="ui raised segment">
  <div class="ui grid">
      <table class="ui celled table segment">
        <thead>
          <tr>
            <th>Poi Category</th>
            <th>Name</th>
            <th>Sent by</th>
            <th>Thumbnail</th>
            <th>View POI</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody >
          {{#each pois}}
            <tr>
              <td> {{poi}} </td>
              <td> {{name}} </td>
              <td> {{user.firstName}} {{user.lastName}}</td>
              <td> <img src="{{image64}}" height="50"  alt="Image preview..."> </td>
              <td> <a href="/poi/viewpoi/{{_id}}"><i class="eye icon"></i></a></td>
              <td> <a href="/poi/showupdatepoi/{{_id}}"> <i class="edit outline icon"></i> </a></td>
              <td> <a href="/poi/delpoi/{{_id}}"> <i class="trash red alternate outline icon"></i> </a> </td>

            </tr>
          {{/each}}
        </tbody>
      </table>
  </div>
</section>
 
