<section class="ui raised segment">
  <div class="ui grid">
    <aside class="six wide column">
      <img src="images/homer5.jpg" class="ui medium image">
    </aside>
    <article class="eight wide column">
      <table class="ui celled table segment">
        <thead>
          <tr>
            <th>Point Of Interest</th>
            <th>Name</th>
            <th>Sent by</th>
            <th>Thumbnail</th>
          </tr>
        </thead>
        <tbody >
          {{#each pois}}
            <tr>
              <td> {{poi}} </td>
              <td> {{name}} </td>
              <td> {{user.firstName}} {{user.lastName}}</td>
              <td> <img src="{{image64}}" height="50" onload="readfile()" alt="Image preview..."> </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </article>
  </div>
</section>

